.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff3f34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: none none solid none;
  border-color: #fff;
}

.Header {
  width: 100%;
  height: 25pt;
  display: flex;
  justify-content: center;
  background-color: #ff3f34;
}

h1 {
  font-size: 15pt;
  margin: 0;
}

h2 {
  font-size: 15pt;
  padding-top: 50vh;
}

h3 {
  font-size: 15pt;
}

.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Menu {
  display: flex;
  height: auto;
  width: 18vh;
  background-color: #ff3f34;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-style: solid solid none none;
  border-color: #fff;
}

.Content {
  height: auto;
  width: 100%;
  background-color: #ffc048;
  display: flex;
  flex-direction: column;
  border-style: solid none none none;
  border-color: #fff;
}

.Content p {
  padding: 50pt;
}

.Photos {
  width: 100%;
  height: 100%;
  background-color: #ffdd59;
}

.ImageContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

a.Btn, a.Btn:hover {
  text-decoration:none;
}

a.Btn {
  opacity:1;
  line-height:1.4;
  text-align:center;
  min-width: 50px;
  font-size: 12px;
  padding: 10px 20px;
  color:#fff;
  font-weight:700;
  text-transform:uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  display:inline-block;
  background-color:#d2dae2;
  border-bottom: 4px solid rgba(0,0,0,0.1);
  border-radius: 4px;


  transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a.Btn:hover {
  opacity:0.6;
}