.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  width: 100vh;
  height: 25pt;
}

h1 {
  font-size: 15pt;
  margin: 0;
}

.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Menu {
  height: 100vh;
  background-color: #282c34;
}

.Content {
  height: 100vh;
  background-color: bisque;
}

.Photos {
  width: 500px;
  height: 300px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.Slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#Slide-1:target ~ .image-container {
  left: 0px;
}
#Slide-2:target ~ .image-container {
  left: -500px;
}
#Slide-3:target ~ .image-container {
  left: -1000px;
}
.Buttons {
  position: relative;
  top: -20px;
}
.Buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
}